<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>xPosition</key>
		<integer>38</integer>
		<key>yPosition</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>138</integer>
		<key>yPosition</key>
		<integer>478</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>238</integer>
		<key>yPosition</key>
		<integer>455</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>210</integer>
		<key>yPosition</key>
		<integer>395</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>110</integer>
		<key>yPosition</key>
		<integer>390</integer>
	</dict>
</array>
</plist>
