<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>xPosition</key>
		<integer>38</integer>
		<key>yPosition</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>165</integer>
		<key>yPosition</key>
		<integer>475</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>200</integer>
		<key>yPosition</key>
		<integer>395</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>55</integer>
		<key>yPosition</key>
		<integer>385</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>105</integer>
		<key>yPosition</key>
		<integer>303</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>235</integer>
		<key>yPosition</key>
		<integer>270</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>130</integer>
		<key>yPosition</key>
		<integer>225</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>45</integer>
		<key>yPosition</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>190</integer>
		<key>yPosition</key>
		<integer>130</integer>
	</dict>
	<dict>
		<key>xPosition</key>
		<integer>250</integer>
		<key>yPosition</key>
		<integer>21</integer>
	</dict>
</array>
</plist>
